@media screen and (max-width:600px) {
    .list{
        display: none;
        
    }
    #menue-list{
        gap: 0px;
    }
    #menue-list .burger{
        font-size: 2rem;
        display: block;
        color:gray;
        
    }
    .nav-bar-text-logo {
        /* width: 50%; */
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .nav-bar-text-logo h2 {
        font-size: 1rem;
        width: 100px;
      }
       .nav-bar-text-logo img{
        width: 25px;
       }
/* banner section responsive here */
#banner{
    height: 100%;
    width: 100%;
  
}
.banner-area {
    margin: 5px;
    padding: 20px;
}
.banner-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--text-color);
  }
  .banner-dris {
    width:100%;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    color: var(--text-color);
  }
  .banner-button {
    width: 100%;
    height: 40px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 5px;
    text-align: center;
  }
  .banner-btn-section{
    margin: 20px 20px;
  }
  .extra {
    background-color: #ff5400;
    color: var(--text-color);
  }
  .fa-solid {
    /* margin-right: 20px; */
    display: none;
  }
  /* banner section end */

  /* popular tour area */
  .popular-tour-area{
    flex-direction: column;
  }
  .popular-tour-text{
    width: 100%;
    line-height: normal;
  }
  .popular-tour-img{
    width: 100%;
}

/* choce us section */
.card{
  width: 90%;
  flex-basis: 90%;
  margin: 0 auto;
}

/* newsletter */
.newsletter-area{
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.newsletter-input{
  width: 100%;
  padding: 40px;
}
.newsletter-img {
  width: 100%;
  
}
    
}