@media screen and (max-width:600px) {
/* banner section responsive here */
#banner{
    height: 450px;
    width: 100%;
  
}
.banner-area {
    margin: 5px;
    padding: 20px;
}
.banner-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--text-color);
  }
  .banner-dris {
    width:100%;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    color: var(--text-color);
  }
  .banner-button {
    width: 100%;
    height: 40px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 5px;
    text-align: center;
  }
  .banner-btn-section{
    margin: 20px 20px;
  }
  .extra {
    background-color: #ff5400;
    color: var(--text-color);
  }
  .fa-solid {
    margin-right: 20px;
  }
  /* banner section end */
    
}