@media screen and (max-width:600px) {
    .list{
        display: none;
        
    }
    #menue-list{
        gap: 0px;
    }
    #menue-list .burger{
        font-size: 2rem;
        display: block;
        color:gray;
        
    }
    .nav-bar-text-logo {
        /* width: 50%; */
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .nav-bar-text-logo h2 {
        font-size: 1.2rem;
        width: 100px;
      }
       .nav-bar-text-logo img{
        width: 100%;
       }
/* banner section responsive here */
#banner{
    height: 100%;
    width: 100%;
  
}
.banner-area {
    margin: 5px;
    padding: 20px;
}
.banner-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--text-color);
  }
  .banner-dris {
    width:100%;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    color: var(--text-color);
  }
  .banner-input-section {
   flex-direction: column;
    
  }
  .banner-button{
   width: 100%;
  }
  #when-input{
    width: 100%;
  }
  #select-input{
    width: 100%;
  }
  .banner-input-text{
    width: 100%;
    text-align: left;
    
  }

  /* banner section end */

  /* popular tour area */
  .popular-tour-area{
    flex-direction: column;
  }
  .popular-tour-text{
    width: 100%;
    line-height: normal;
  }
  .popular-tour-img{
    width: 100%;
}
/* destination */

.destination-area{
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7 ,1fr);
  height: 100%;
  
}
.maldiiv{
   grid-column: 1/span 1;
  grid-row: 1 /span 1;
  height: 170px;
  width: 100%;
}
.indonisia{
  grid-column: 1/span 1;
  grid-row: 2 /span 1;
  height: 170px;
  width: 100%;
}
.Srilanka{
  grid-column: 1/span 1;
  grid-row: 3 /span 1;
  height: 170px;
  width: 100%;
}
.North-america{
  grid-column: 1/span 1;
  grid-row: 4 /span 1;
  height: 170px;
  width: 100%;
}
.Kashmir{
  grid-column: 1/span 1;
  grid-row: 5 /span 1;
  height: 170px;
  width: 100%;
}
.Bangladesh{
  grid-column: 1/span 1;
  grid-row: 6 /span 1;
  height: 170px;
  width: 100%;
}
.Bandarban{
  grid-column: 1/span 1;
  grid-row: 7 /span 1;
  height: 170px;
  width: 100%;
}
.destination-title{
}
.destination-dris{
  width: 300px;
  margin: 20px auto;
 
}
 /* best deal */
 .best-deal-card {
  flex-basis: 100%;
}
.img-area{
  gap: 20px;
}
.best-deal-card:hover{
  cursor: pointer;
  transform: scale(0);
  transform: rotate(0);
  transition: 0.8s;
  
}
.best-deal-card img {
  width: 100%;
  border-radius: 10px;
  text-align: center;
}



/* choce us section */
.card{
  width: 100%;
  flex-basis: 100%;
  margin: 0 auto;
}
.top-text p{
  width: 100%;
  margin: 0 auto
}
/* deals and discount */
.icon-div{
 flex-direction: column;
}
.section-card{
  border-radius: 16px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(2.5px);
  width: 100%;
  height: 400px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
}
.first-section,.third-section,.second-section{
  justify-content: center;
  flex-direction: column;
  
}
.deals-text h2{
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 800;
}
h2 {
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 1rem;
}
p {
  margin-top: 5px;
  font-size: 1rem;
}
p.colorful {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 1rem;
}
.popular{
  padding: 20px;
  margin-top: 10px;
  width: 50%;
}

/* vedio section */
.vedio-title{
  font-size: 1.7rem;
  margin-bottom: 16px;
  font-weight: 800;
  
}
.vedio-dris{
  font-size: 1rem;
  margin-bottom: 16px;
}
.vedio-section-area{
  flex-direction: column;
  gap: 10px;
}
.vedio-section iframe{
  max-width: 100%;
}
 .text-section{
  width: 100%;
} 
.text-section{
  width: 100%;
} 

/* newsletter */
.newsletter-area{
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.newsletter-input{
  width: 100%;
  padding: 30px;
}
.newsletter-img {
  width: 100%;
  
}
.newsletter-input input{
width: 100%;
}
.newsletter-input button{
  width: 100%;
}
.colorfull{
  width: 150px;
  height: 80px;
  right: 3%;
  bottom: 5%;
  font-size: 1rem;
}
/* footer area */
.footer-area{
  padding: 10px;
  
}
.icon a{
  font-size: 1.5rem;
}
.top-area{
  flex-direction: column;
}
}

