@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}


/* common shared css style  */
:root{
    --btn-color:#FF5400;
    --text-color:#fff;
    --font-size:16px;
    --colorful-text:#424247;
}
.container{
    max-width: 1180px;
    width: 80%;
    margin: 0 auto;
}
.special{
    color: var(--btn-color);
}







/* header area css start */
/* nav bar area start */
.nav-bar-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-text-logo{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-bar-text-logo h2{
    font-size: 2rem;
}
.nav-bar-menue{
    width: 50%;
}
#menue-list {
    display:flex;
    gap: 40px;
}
#menue-list li {
    list-style: none;  
}
.list{
    text-decoration: none;
    color: var(--colorful-text);
    font-weight: 400;
}

/* banner section start */
