@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.hide {
  display: none;
}

/* common shared css style  */
:root {
  --btn-color: #ff5400;
  --text-color: #fff;
  --font-size: 16px;
  --colorful-text: #424247;
}
.container {
  max-width: 1180px;
  width: 80%;
  margin: 0 auto;
}
.special {
  color: var(--btn-color);
}
/* img{
    width: 100%;
} */
/* header area css start */
/* nav bar area start */
.nav-bar-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav-bar-text-logo {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-bar-text-logo h2 {
  font-size: 2rem;
}
.nav-bar-text-logo img{
    width: 45px;
}
.nav-bar-menue {
  width: 50%;
}
#menue-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
#menue-list li {
  list-style: none;
}
.burger{
    display: none;
}
.list {
  text-decoration: none;
  color: var(--colorful-text);
  font-weight: 400;
}

/* banner section start */
#banner {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: cover;
  text-align: center;
  border-radius: 10px;
}
.banner-area {
  margin: 70px auto;
  text-align: center;
}
.banner-text-section {
  margin-bottom: 45px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--text-color);
}
.banner-dris {
  width: 540px;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  color: var(--text-color);
}

.banner-btn-section {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin: 0 auto;
}
.banner-button  {
  width: 150px;
  height: 45px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-right: 20px;
}
.extra {
  background-color: #ff5400;
  color: var(--text-color);
}
.fa-solid {
  margin-left: 30px;
}
/* our popular tours start */
#popular-tours{
    margin-top: 50px;
}

.popular-tour-area{
    display: flex;
    gap: 20px;
}
.popular-tour-text{
    width: 50%;
    line-height: 25px;
   
}
.popular-tour-img{
    width: 50%;
}
.popular-tour-img img{
    width: 100%;
    border-radius: 16px;
}
.tour-title{
    font-size: 2.5rem;
    color: var(--colorful-text);
    font-weight: 800;
    margin-bottom: 24px;
}
.tour-dris{
    font-size: 1rem;
    color: var(--colorful-text);
    font-weight: 400;
    margin-bottom: 15px;
}
.popular-tour-text ul li{
    margin-left: 30px;
    margin-bottom: 15px;
}
.popular{
    margin-top: 30px;
    padding: 20px 35px;
    background-color: var(--btn-color);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
}
/* why choce us section */
.top-text {
  text-align: center;
  margin-bottom: 25px;

}
.top-text h2{
  color: var(--colorful-text);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.top-text p{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
#why-choce-us{
  margin-top: 100px;
}
.card img{
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.card .choce-title{
  color: var(--colorful-text);
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 10px;
}
.card .choce-dris{
  color: var(--colorful-text);
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.why-choce-us-area{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;


}
.card{
  width: 50%;
  flex-basis: 45%;
  margin: 0 auto;
}
.card-1{
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);
  padding: 30px;
}
.card-2{
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
  padding: 30px;
}
.another{
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
  margin: 0 auto;
  padding: 30px;
}

/* newsletter section  */
#newsletter{
  margin-top: 100px;
}
.newsletter-area{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.newsletter-input{
  width: 40%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid salmon;
  border-radius: 10px;

}
.newsletter-input input{
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
width: 90%;
margin: 0 auto;
height: 50px;
text-align: center;
border: none;
}
.newsletter-input button{
  width: 90%;
margin: 0 auto;
height: 50px;
text-align: center;
border: none;
border-radius: 8px;
background-color: var(--btn-color);
color: var(--text-color);
}
button:hover{
  background-color: sandybrown;
  transition: 1s;
  cursor: pointer;
}
.newsletter-input h2{
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--colorful-text);
}
.newsletter-img {
  width: 50%;
  position: relative;
}
.newsletter-img img{
  width: 100%;
  height: 450px;
  
}
.colorfull{
  background-color: var(--btn-color);
  border-radius: 10px;
  text-align: center;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  transform: rotate(-19.628deg);
  width: 200px;
  height: 100px;
  right:2%;
  bottom: 7%;
}
/* footer area */
.footer-area{
  background: rgba(19, 19, 24, 0.05);
  margin-top: 50px;
  text-align: center;
  padding: 100px;
}
.top-area{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.footer-area p{
  text-align: center;
  color: var(--colorful-text);
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
}
.icon{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon a{
  font-size: 3rem;
  margin-right: 5px;
  
}
.twitter{
  color: aqua;
}
.facebook{
  color: blue;
}
.youtube{
  color: red;
}
.github{
  color: black;
}