@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.hide {
  display: none;
}

/* common shared css style  */
:root {
  --btn-color: #ff5400;
  --text-color: #fff;
  --font-size: 16px;
  --colorful-text: #424247;
}
.container {
  max-width: 1180px;
  width: 80%;
  margin: 0 auto;
}
.special {
  color: var(--btn-color);
}

/* header area css start */
/* nav bar area start */
.nav-bar-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav-bar-text-logo {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-bar-text-logo h2 {
  font-size: 2rem;
}
.nav-bar-menue {
  width: 50%;
}
#menue-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
#menue-list li {
  list-style: none;
}
.list {
  text-decoration: none;
  color: var(--colorful-text);
  font-weight: 400;
}

/* banner section start */
#banner {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80vh;
  background-size: cover;
  text-align: center;
  border-radius: 10px;
}
.banner-area {
  margin: 70px auto;
  text-align: center;
}
.banner-text-section {
  margin-bottom: 45px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--text-color);
}
.banner-dris {
  width: 540px;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  color: var(--text-color);
}

.banner-btn-section {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin: 0 auto;
}
.banner-button {
  width: 150px;
  height: 45px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-right: 20px;
}
.extra {
  background-color: #ff5400;
  color: var(--text-color);
}
.fa-solid {
  margin-left: 30px;
}
