@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.hide {
  display: none;
}

/* common shared css style  */
:root {
  --btn-color: #ff5400;
  --text-color: #fff;
  --font-size: 16px;
  --colorful-text: #424247;
}
.container {
  max-width: 1180px;
  width: 80%;
  margin: 0 auto;
}
.special {
  color: var(--btn-color);
}
/* img{
    width: 100%;
} */
/* header area css start */
/* nav bar area start */
.nav-bar-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav-bar-text-logo {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-bar-text-logo h2 {
  font-size: 2rem;
}
.nav-bar-text-logo img {
  width: 45px;
}
.nav-bar-menue {
  width: 50%;
}
#menue-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
#menue-list li {
  list-style: none;
}
.burger {
  display: none;
}
.list {
  text-decoration: none;
  color: var(--colorful-text);
  font-weight: 400;
}

/* banner section start */
#banner {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: cover;
  text-align: center;
  border-radius: 10px;
}
.banner-area {
  margin: 70px auto;
  text-align: center;
}
.banner-text-section {
  margin-bottom: 45px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--text-color);
}
.banner-dris {
  width: 540px;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  color: var(--text-color);
}

.banner-input-section {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  
}
.banner-input-text{
  width: 22%;
  height: 50px;
  border-radius: 8px;
  border: none;
  text-align: center;
  color: var(--colorful-text);
  
}
#when-input{
  width: 22%;
  height: 50px;
  border-radius: 8px;
  border: none;
  color: var(--colorful-text);
}
#select-input{
  width: 22%;
  height: 50px;
  border-radius: 8px;
  border: none;
  color: var(--colorful-text);
}
.banner-button{
  width: 22%;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: var(--btn-color);
  color: #fff;
}
.banner-button .fa-solid {
  color: var(--text-color);
  font-size: 1rem;
}
/* our popular tours start */
#popular-tours {
  margin-top: 50px;
}

.popular-tour-area {
  display: flex;
  gap: 20px;
}
.popular-tour-text {
  width: 50%;
  line-height: 25px;
}
.popular-tour-img {
  width: 50%;
}
.popular-tour-img img {
  width: 100%;
  border-radius: 16px;
}
.tour-title {
  font-size: 2.5rem;
  color: var(--colorful-text);
  font-weight: 800;
  margin-bottom: 24px;
}
.tour-dris {
  font-size: 1rem;
  color: var(--colorful-text);
  font-weight: 400;
  margin-bottom: 15px;
}
.popular-tour-text ul li {
  margin-left: 30px;
  margin-bottom: 15px;
}
.popular {
  margin-top: 30px;
  padding: 20px 35px;
  background-color: var(--btn-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
}
/* destination section */
#choce-our-destination {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}
.destination-title {
  font-size: 2rem;
  font-weight: 800;
}
.destination-dris {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.destination-area {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 700px;
  row-gap: 10px;
}
.maldiiv {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/maldivs.png");
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
  color: #fff;
  background-size: cover;
  margin-right: 5px;
  border-radius: 10px;
}
.indonisia {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/indonisia.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 7 / span 13;
  grid-row: 1 / span 1;
  border-radius: 10px;
  color: #fff;
}
.Srilanka {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/srilanka.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  margin-right: 5px;
  border-radius: 10px;
  color: #fff;
}
.North-america {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/north-ami.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 4 / span 6;
  grid-row: 2 / span 1;
  margin-right: 5px;
  border-radius: 10px;
  color: #fff;
}
.Kashmir {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/kashmir.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 10 / span 3;
  grid-row: 2 / span 1;
  margin-right: 5px;
  border-radius: 10px;
  color: #fff;
}
.Bangladesh {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/bd.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / span 6;
  grid-row: 3 / span 1;
  margin-right: 5px;
  border-radius: 10px;
  color: #fff;
}
.Bandarban {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../images/bandrban.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 7 / span 13;
  grid-row: 3 / span 1;
  margin-right: 5px;
  border-radius: 10px;
  color: #fff;
}
.text {
  font-size: 1.5rem;
  position: relative;
  top: 50%;
}

/* best deal section */
#best-travel-deals {
  margin-top: 100px;
  background: url("../images/card/cooll.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding:20px; 
}
.deals-title,
.deals-dris {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 800;
}
.best-deal-card {
  flex-basis: 32%;
  overflow: hidden;
}
.best-deal-card img:hover{
  cursor: pointer;
  transform: scale(1.2);
  transform: scale(1.1);
  transition: 0.8s;
  
}

.img-area {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
}
.best-deal-card img {
  width: 100%;
  border-radius: 10px;
}

.best-deal-card p {
  text-align: center;
  margin-top: 10px;
}
.rate {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
/* why choce us section */
.top-text {
  text-align: center;
  margin-bottom: 25px;
}
.top-text h2 {
  color: var(--colorful-text);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.top-text p {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
#why-choce-us {
  margin-top: 100px;
}
.card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.card .choce-title {
  color: var(--colorful-text);
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 10px;
}
.card .choce-dris {
  color: var(--colorful-text);
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.why-choce-us-area {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 50%;
  flex-basis: 45%;
  margin: 0 auto;
}
.card-1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 30px;
}
.card-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 30px;
}
.another {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  margin: 0 auto;
  padding: 30px;
}
/* deals and discount */
#deals{
  margin-top: 100px;
}
.deals-text{
  text-align: center;
}
.deals-text h2{
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 800;
}
.deals-text p{
  font-weight: 400;
  color: var(--colorful-text);
}
.first-section{
  background: url("../images/Group\ 39.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.second-section{
  background: url("../images/Group\ 40.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 50px;
  
}
.third-section{
  background: url("../images/Group\ 39.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 50px;
}
.section-card{
  border-radius: 16px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(2.5px);
  width: 550px;
  height: 350px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 30px;
}
.icon-div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.test{
  font-size: 1.2rem;
  color: var(--btn-color);
}
h2 {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 2rem;
}
p {
  margin-top: 10px;
  font-weight: 200;
}
p.colorful {
  margin-bottom: 10px;
  color:var(--btn-color);
  font-weight: 800;
  font-size: 1.5rem;
}
.all-btn.popular {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

/* vedio section */
#video{
  margin-top: 100px;
}
.video-title{
  font-size: 2.7rem;
  margin-bottom: 16px;
  
}
.video-dris{
  font-size: 1rem;
  margin-bottom: 16px;
}
.text-section ul li{
  margin-left: 20px;
  font-weight: 700;
  margin-bottom: 16px;

}
.video-btn{
  width: 170px;
  height: 50px;
  border-radius: 8px;
  background-color: var(--btn-color);
  border: none;
  padding: 10px;
  color: #fff;
}
.video-section-area{
  display: flex;
  gap: 20px;
}
.text-section{
  width: 50%;
}
.text-section{
  width: 50%;
}

/* newsletter section  */
#newsletter {
  margin-top: 100px;
}
.newsletter-area {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.newsletter-input {
  width: 40%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid salmon;
  border-radius: 10px;
}
.newsletter-input input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  width: 90%;
  margin: 0 auto;
  height: 50px;
  text-align: center;
  border: none;
}
.newsletter-input button {
  width: 90%;
  margin: 0 auto;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 8px;
  background-color: var(--btn-color);
  color: var(--text-color);
}
button:hover {
  background-color: sandybrown;
  transition: 1s;
  cursor: pointer;
}
.newsletter-input h2 {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--colorful-text);
}
.newsletter-img {
  width: 50%;
  position: relative;
}
.newsletter-img img {
  width: 100%;
  height: 450px;
}
.colorfull {
  background-color: var(--btn-color);
  border-radius: 10px;
  text-align: center;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  transform: rotate(-19.628deg);
  width: 200px;
  height: 100px;
  right: 2%;
  bottom: 7%;
}
/* footer area */
.footer-area {
  background: rgba(19, 19, 24, 0.05);
  margin-top: 50px;
  text-align: center;
  padding: 100px;
}
.top-area {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.footer-area p {
  text-align: center;
  color: var(--colorful-text);
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
}
.icon {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon a {
  font-size: 3rem;
  margin-right: 5px;
}
.twitter {
  color: aqua;
}
.facebook {
  color: rgb(9, 178, 245);
}
.youtube {
  color: red;
}
.github {
  color: black;
}
